<!-- Put the HTML template for your page here! -->
<!doctype html> 
    <html>
        <head>
            <link rel= "stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        </head>
        <body>
            <h1> "Baseball" </h1>
            <p> "it's a great game"</p>
            {% if likes_same_sport == True %}
                <p>

                </p>

            <ul>
                 {% for player in player %} 
                <li>  {{player}} </li>
                 {% endfor %} 
            </ul>
        </body>
    </html>
    